*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

html {
    scroll-behavior: smooth;
}


body{
    background-color: white;

}

/*background*/
.background img{
    margin-top: 5px;
    width: 100%;
    height: 20%;
}

.background-text{
    position: absolute;
    top: 30%;
    color: #fff;
    padding: 10px;
    margin-left: 50px;
}
.background-text h2{
    font-weight: bold;
    font-size: 70px;

}
.background-text p{
    padding-top: 5px;
    font-size: 30px;

}


.logo{
    text-decoration: none;
    font-weight: 700;
    font-size: 37px;
    color: #1d1c1b;
    font-family: "Jost", sans-serif;
    float: left;
    margin-left: 17px;


}
.head{
    padding-top: 7px;
    background-color: white;
    padding-bottom: 15px;
}



.navbar ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    overflow: hidden;
}

.navbar a{
    text-decoration: none;
    font-weight: bold;
    color: #1d1c1b;
    text-align: center;
    padding: 10px 15px;
    display: block;
}

.navbar a:hover{
    background-color: #1d1c1b;
    color: white;
}

.navbar li{
    float: left;
}

.about button a{
    text-decoration: none;
    color: #1d1c1b;
}


.dropdown button{
    color: #1d1c1b;
    background-color: white;
    height: 35px;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
    margin-top: 12px;
    margin-left: 3rem;

}

.dropdown button:hover{
    background-color: #1d1c1b;
    color: white;
    transition: background-color 300ms ease, color 300ms ease;
    
}

.dropdown a{
    display: block;
    padding: 10px 15px;
    background-color: white;
    text-decoration: none;
    color: rgb(118, 115, 115);
    text-align: center;
}

.dropdown a:hover{
    background-color: #1d1c1b;
    color: white;
    transition: background-color 300ms ease, color 300ms ease;
}

.dropdown .menu{
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 10px 10px rgba(29, 28, 27, 0.224);
    margin-left: 3rem;
    z-index: 1000;
}

.dropdown:hover .menu{
    display: block;
}

.header-buttons {
    float: right;
    margin-top: -27px;
    margin-right: 17px;
}

.contact-btn, .signup-btn {
    font-family: "Jost", sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 15px;
    color: black;
    background-color: white;
    border: 1px solid #1d1c1b;
    border-radius: 7px;
    margin-left: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-btn:hover, .signup-btn:hover {
    background-color: white;
    color: #1d1c1b;
}

.signup-btn{
    background-color: #1d1c1b;
    color: white;
}


.line {
    border-bottom: 1px solid #1d1c1b; /* Solid black line with 2px thickness */
    padding-bottom: 22px; /* Space between the text and the border */
    padding-top: 10px;
    margin-left: 30px;
    margin-right: 30px;

}

/*content*/
.body1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 37px;
    padding-top: 30px;
}

.wrapper {
    display: flex;
    align-items: center;
    width: 75%;
}

.wrapper .img1, .wrapper .img2, .wrapper .img3, .wrapper .img4 {
    flex: 0 0 auto;
    margin-right: 40px;
    border-radius: 15px;
}

.wrapper .img1 img, .wrapper .img2 img, .wrapper .img3 img, .wrapper .img4 img {
    width: 400px;
    border-radius: 15px;
    box-shadow: -4px 4px 8px #343333a5, 15px 26px 20px #343333a5;
    
}

.wrapper .img4 img{
    height: 250px;
}
/*test*/








.wrapper .img4 img{
    width: 390px;
}

.wrapper .text-box, .wrapper .text-box2 {
    color: #7D7978;
    flex: 1; /* Ensures equal space allocation */
}

.wrapper .text-box h3, .wrapper .text-box2 h3, .wrapper .text-box3 h3 {
    color: #1d1c1b;
    font-size: 42px;
    margin-top: -30px;
}


.wrapper .text-box p, .wrapper .text-box2 p, .wrapper .text-box3 p {
    font-size: 16px;
    margin-top: 20px;
    line-height: 1.5; /* Consistent line height */
    margin-bottom: 0; /* Removes extra space below */
}

.reverse {
    flex-direction: row-reverse;
}


/*story*/
.story{
    background-color: whitesmoke;
}

.head3 h2 {
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
}

#stry{
    text-align: center;
}



























/*footer*/
.footer {
    border-top: 1px solid #1d1c1b;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #1d1c1b;
    flex: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 39px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #EFEFEF;
}

.footer a{
    text-decoration: none;
    cursor: pointer;
    color: rgba(14, 117, 244, 0.781);
}

.footer p button{
    height: 35px;
    width: 90px;
    border-radius: 7px;
    font-family: "Jost", sans-serif;
    font-weight: bold;
    border-width: 1px;
    cursor: pointer;
    margin-left: 5px;
}
.footer p button:hover{
    background-color: #1d1c1b;
    color: white;
    transition: background-color 300ms ease, color 300ms ease;
}
