*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: white;
}
.logo{
    text-decoration: none;
    font-weight: 700;
    font-size: 37px;
    color: #1d1c1b;
    font-family: "Jost", sans-serif;
    float: left;
    margin-left: 17px;


}
.head{
    padding-top: 7px;
    background-color: white;
    padding-bottom: 15px;
}



.navbar ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    overflow: hidden;
}

.navbar a{
    text-decoration: none;
    font-weight: bold;
    color: #1d1c1b;
    text-align: center;
    padding: 10px 15px;
    display: block;
}

.navbar a:hover{
    background-color: #1d1c1b;
    color: white;
}

.navbar li{
    float: left;
}

.about button a{
    text-decoration: none;
    color: #1d1c1b;
}


.dropdown button{
    color: #1d1c1b;
    background-color: white;
    height: 35px;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
    margin-top: 12px;
    margin-left: 3rem;

}

.dropdown button:hover{
    background-color: #1d1c1b;
    color: white;
    transition: background-color 300ms ease, color 300ms ease;
    
}

.dropdown a{
    display: block;
    padding: 10px 15px;
    background-color: white;
    text-decoration: none;
    color: rgb(118, 115, 115);
    text-align: center;
}

.dropdown a:hover{
    background-color: #1d1c1b;
    color: white;
    transition: background-color 300ms ease, color 300ms ease;
}

.dropdown .menu{
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 10px 10px rgba(29, 28, 27, 0.224);
    margin-left: 3rem;
    z-index: 1000;
}

.dropdown:hover .menu{
    display: block;
}

.header-buttons {
    float: right;
    margin-top: -27px;
    margin-right: 17px;
}

.contact-btn, .signup-btn {
    font-family: "Jost", sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 15px;
    color: black;
    background-color: white;
    border: 1px solid #1d1c1b;
    border-radius: 7px;
    margin-left: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-btn:hover, .signup-btn:hover {
    background-color: white;
    color: #1d1c1b;
}

.signup-btn{
    background-color: #1d1c1b;
    color: white;
}

/*video*/
.container{
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/fav/5026563.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: 1;
}

video{
    max-width: 100%;
    height: 624px;
    position: relative;
    z-index: 2;
}

.Buy-now{
    font-family: "Noto Sans", sans-serif;
    position: absolute;
    top: 76.5%;
    left: 78.7%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #0078DC;
    color: #edecec;
    border: none;
    border-color: #0078DC;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.3s ease;
    opacity: 0;
    animation: showButton 1s forwards 53s;
    height: 50px;
    width: 120px;
    z-index: 2;
}

.Buy-now:hover {
    height: 53px;
    width: 123px;
    color: white;
    border-color: #0078DC;
    font-size: 18px;
    transition: all 300ms ease;
}

.learn{
    font-weight: 750;
    text-decoration: none;
    color: white;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    position: absolute;
    top: 76.6%;
    left: 69%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 0;
    animation: showButton 1s forwards 53s;
    z-index: 2;
    
}

.learn::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 68%;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
    transform: translateX(-50%);
}
.learn:hover::after{
    width: 100%;
}

@keyframes showButton {
    to {
        opacity: 1;
    }
}



/*head2*/
.head2{
    text-align: center;
    margin-bottom: 3px;
}

.navbar2 ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: white;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar2 a{
    border-radius: 8px;
    background-color: #EFEFEF;
    color: #1d1c1b;
    text-decoration: none;
    padding: 15px;
    margin: 18px;
    display: block;
    text-align: center;
}

.navbar2 a:hover{
    background-color: #1d1c1b;
    color: #EFEFEF;
    transition: background-color 300ms ease, color 300ms ease;
    border-radius: 8px;
}

.navbar2 li{
    float: left;
}

.ri-computer-line{
    padding-left: 16px;
    padding-right: 16px;
}

.ri-smartphone-line{
    padding-left: 26px;
    padding-right: 26px;
}

#Mobile{
    background-color: #1d1c1b;
    color:  #EFEFEF;
}

.ri-macbook-line{
    padding-left: 17px;
    padding-right: 17px;
}



.card-container{
    display: inline-block;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 9px;

}

.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;

}

.card img{
    width: 100%;
    height: auto;
}

.card-content{
    padding: 16px;
}

.card-content h3{
    font-size: 28px;
    margin-bottom: 7px;
    margin-left: 8px;
}

.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
    margin-left: 8px;
}

.card-content .card-btn{
    margin-left: 5px;
    display: inline-block;
    padding: 8px 16px;
    background-color: #1d1c1b;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
    border: 1px solid transparent;
}

.card-content .card-btn:hover{
    background-color: #f0f0f0;
    border: 1px solid #1d1c1b;
    color: #1d1c1b;
    border: 1px solid #1d1c1b;
    transition: all 300ms ease;
}

.card-buy {
    display: inline-block;
    margin-left: 50px;
    padding: 7px 30px;
    border: 1px solid #1d1c1b;
    border-radius: 4px;
    color: #1d1c1b;
    cursor: pointer;
}

.card-buy a{
    text-decoration: none;
    color: inherit;
}

.card-buy:hover{
    background-color: #1d1c1b;
    color: white;
    transition: all 300ms ease;
}































/*footer*/
.footer {
    border-top: 1px solid #1d1c1b;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #1d1c1b;
    flex: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height: 39px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #EFEFEF;
}

.footer a{
    text-decoration: none;
    cursor: pointer;
    color: rgba(14, 117, 244, 0.781);
}

.footer p button{
    height: 35px;
    width: 90px;
    border-radius: 7px;
    font-family: "Jost", sans-serif;
    font-weight: bold;
    border-width: 1px;
    cursor: pointer;
    margin-left: 5px;
}
.footer p button:hover{
    background-color: #1d1c1b;
    color: white;
    transition: background-color 300ms ease, color 300ms ease;
}











