@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/fav/5026563.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: 1;
}

.about button a{
    text-decoration: none;
    color: #1d1c1b;
}

.main-content{
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 60px;
    z-index: 2;

}

:root {
    --linear-grad: linear-gradient(to right, #1d1c1b, #1d1c1b);
    --grad-clr1: #1d1c1b;
    --grad-clr2: #1d1c1b;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: grid;  
}

.container{
    position: relative;
    width: 850px;
    height: 500px;
    background-color: #fff;
    box-shadow: 25px 30px 55px rgba(85, 85, 85, 0.7);
    border-radius: 13px;
    overflow: hidden;
}
.form-container{
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 0px 40px;
    transition: all 0.6s ease-in-out;
}

.sign-up-container{
    opacity: 0;
    z-index: 1;
}
.sign-in-container{
    z-index: 2;
}
form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
}

h1{
    color: var(--grad-clr1)
}





.social-container{
    margin: 20px 0px;
}
.social-container a{
    border: 1px solid #DDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    height: 40px;   
    width: 40px;
}

.social-container a:hover{
    background-color: #1d1c1b;
    color: white;
    transition: background-color 300ms ease, color 300ms ease;
}

span{
    font-size: 12px;
}

.infield{
    position: relative;
    margin: 8px 0px;
    width: 100%;
}

input{
    width: 100%;
    padding: 12px 15px;
    background-color: #f3f3f3;
    border: none;
    outline: none;
}

label{
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background: var(--linear-grad);
    transition: 0.3s;
}

input:focus ~ label{
    width: 100%;
}

.a1{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0px;
}

.a1 .forgot{
    padding-bottom: 3px;
    border-bottom: 2px solid #EEE;
}

.btns1{
    border-radius: 20px;
    border: 1px solid var(--grad-clr1);
    background: var(--grad-clr2);
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}




.form-container button{
    margin-top: 17px;
    transition: 80ms ease-in;
    padding-top: 10px;
}

.form-container button:hover{
    background-color: #FFF;
    color: var(--grad-clr1);
}

.overlay-container{
    position: absolute;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 9;
}

#overlayBtn{
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 304px;
    transform: translateX(-50%);
    width: 140px;
    height: 40px;
    border: 1px solid #FFF;
    background: transparent;
    border-radius: 20;
}

.overlay{
    position: relative;
    background: var(--linear-grad);
    color: #FFF;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;
}

.overlay-panel{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    height: 100%;
    width: 340px;
    transition: 0.6s ease-in-out;
}

.overlay-left{
    right: 60%;
    transform: translateX(-12%);
}

.overlay-right{
    right: 0;
    transform: translateX(0%);
}

.overlay-panel h1{
    color: #FFF;
}

p{
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 25px 0px 35px;
}

.overlay-panel button{
    border: none;
    background-color: transparent;
}

.right-panel-active .overlay-container{
    transform: translateX(-150%);
}

.right-panel-active .overlay{
    transform: translateX(50%);
}


.right-panel-active .overlay-left{
    transform: translateX(25%);
}

.right-panel-active .overlay-right{
    transform: translateX(35%);
}

.right-panel-active .sign-in-container{
    transform: translateX(20%);
    opacity: 0;
}

.right-panel-active .sign-up-container{
    transform: translateX(66.7%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6;
}

@keyframes show{
    0%, 50%{
        opacity: 0;
        z-index: 1;
    }
    50.1%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.btnScaled{
    animation: scaleBtn 0.6s;
}
@keyframes scaleBtn{
    0%{
        width: 140px;
    }
    50%{
        width: 250px;
    }
    100%{
        width: 140px;
    }
}



.body2{
    padding-top: 7px;
    background-color: white;
    z-index: 3;
}
.main-logo{
    text-decoration: none;
    font-weight: 700;
    font-size: 37px;
    color: #1d1c1b;
    font-family: "Jost", sans-serif;
    float: left;
    margin-left: 17px;
}

.navbar ul{
    list-style-type: none;
    background-color: white;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    margin-left: 10px;
    margin: 20px;
    color: #1d1c1b;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color: black;
    color: white;
}

.navbar li{
    float: left;
}



/*dropdown*/
.dropdown button{
    color: #1d1c1b;
    background-color: white;
    height: 35px;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
    margin-top: 12px;
    margin-left: 3rem;
    font-family: "Jost", sans-serif;

}

.dropdown button:hover{
    background-color: #1d1c1b;
    color: white;
    transition: background-color 300ms ease, color 300ms ease;
    
}

.dropdown a{
    display: block;
    text-decoration: none;
    color: rgb(118, 115, 115);
    text-align: center;
    padding: 0;
    font-family: "Jost", sans-serif;
    height: 35px;
    line-height: 35px;
    width: 100%;
    margin: 0;
    padding-bottom: 36px;
    padding-top: 4px;
}

.dropdown a:hover{
    background-color: #1d1c1b;
    color: white;
    transition: background-color 300ms ease, color 300ms ease;
}

.dropdown .menu{
    display: none;
    position: absolute;
    min-width: 100px;
    box-shadow: 0px 10px 10px rgba(29, 28, 27, 0.224);
    font-family: "Jost", sans-serif;
    font-weight: bold;
    background-color: white;
    margin-left: 3rem;
    z-index: 1000;

}

.dropdown:hover .menu{
    display: block;
}

/*top right button*/

.header-buttons {
    float: right;
    margin-top: -27px;
    margin-right: 17px;
}


.contact-btn, .signup-btn {
    font-family: "Jost", sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 15px;
    color: black;
    background-color: white;
    border: 1px solid #1d1c1b;
    border-radius: 7px;
    margin-left: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.signup-btn{
    background-color: #1d1c1b;
    color: white;
}

.contact-btn:hover, .signup-btn:hover {
    background-color: #1d1c1b;
    color: white;
}
